@model Apartments.Models.Postgres.DomainApartment
@using Apartments.Helpers
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<style>
    .blog{
 margin: 4em 0;
 position: relative; 
}
.blog h1{
 color:#F97300;
 margin: 2em; 
}
.blog .card{
 box-shadow: 0 0 20px #ccc;
}
.blog .card img{
 width: 100%;
 height: 12em;
}
.blog .card-title{
 color:#F97300;
  
}
.blog .card-body{
 padding: 1em;
}
</style>

@{
    ViewBag.Title = "Квартиры в аренду";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="blog">
    <div class="container">
        <h1 class="text-center">Доступные квартиры</h1>
        <div class="row">
            @foreach (var item in Model.Apartments)
            {
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img align="center" src="@Url.Content(item.mainPhotoUrl)" class="img-fluid">
                        </div>

                        <div class="card-body">
                            <h4 class="card-title">@item.Name @item.Price</h4>
                            <p class="card-text">
                                @{ 
                                    string trimmedDesc = item.Description.Trim();
                                    string desc = trimmedDesc.Length > 150 ? trimmedDesc.Substring(0, 151) : trimmedDesc + new String(' ', 162 - trimmedDesc.Length);
                                }
                                @Html.DisplayFor(modelItem => desc)
                                @if (trimmedDesc.Length > 150)
                                {
                                    @Html.ActionLink("..подробнее.", "Details", new { id = item.Id })
                                }
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="" class="card-link">@Html.ActionLink("Details", "Details", new { id = item.Id })</a>  
                        </div>
                    </div>
                </div>
            }
        </div>
        <br />
        <div class="btn-group">
            @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
        </div>
    </div>
</div>