@using PagedList;
@model IPagedList<Apartments.Models.Postgres.Apartment>
@using PagedList.Mvc;
@using Apartments.Helpers
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateActualTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDonated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonateDueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParsingSource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mainPhotoUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneImgURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Information)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
