@using PagedList;
@model IPagedList<Apartments.Models.Postgres.Apartment>
@using PagedList.Mvc;
@using Apartments.Helpers
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<style>
    .blog{
 margin: 4em 0;
 position: relative; 
}
.blog h1{
 color:#F97300;
 margin: 2em; 
}
.blog .card{
 box-shadow: 0 0 20px #ccc;
}
.blog .card img{
 width: 100%;
 height: 12em;
}
.blog .card-title{
 color:#F97300;
  
}
.blog .card-body{
 padding: 1em;
}
</style>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateActualTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDonated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonateDueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParsingSource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mainPhotoUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneImgURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Information)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>


<br />
<br />
<br />
<br />


<div class="blog">
    <div class="container">
        <h1 class="text-center">Blog</h1>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img align="center" src="@Url.Content(Model.FirstOrDefault().phoneImgURL)" class="img-fluid">
                        </div>

                        <div class="card-body">
                            <h4 class="card-title">@item.Name @item.Price</h4>
                            <p class="card-text">

                                @item.Description
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="" class="card-link">@Html.ActionLink("Details", "Details", new { id = item.Id })</a>  
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>