@using PagedList;
@model IPagedList<Apartments.Models.Postgres.Apartment>
@using PagedList.Mvc;
@using Apartments.Helpers
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>Название</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }

</table>
<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))















<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Apartments.FirstOrDefault().Name)
        </th>
        <th>
            Photo
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Apartments.FirstOrDefault().Author)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Apartments.FirstOrDefault().Price)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Apartments.FirstOrDefault().Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Apartments)
    {
        <div class="col-md-8 col-md-offset-4" style="height:10%">
            <tr>
                <td>
                    @Html.ActionLink((item.Name), "Details", new { id = item.Id })
                </td>
                <td>
                    @if (item.mainPhotoUrl.Split(';').Length > 0)
                    {
                        <img src="@Url.Content("~/Images/kvartirant/" + item.ShortId + "/" + item.mainPhotoUrl.Split(';')[0])" style="overflow:hidden;position:relative;width:200px;height:200px;" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        </div>
    }

</table>



<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>