@model IEnumerable<Apartments.Models.TempApartment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateActualTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDonated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonateDueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InternalComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParsingSource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourceURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mainPhotoUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.photosListUrls)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneImgURL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateActualTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDonated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonateDueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InternalComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParsingSource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mainPhotoUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.photosListUrls)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneImgURL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
